<h1>Trendy Products</h1>
<div class="row">
	<div class="col-sm-3" *ngFor="let item of trendyProducts">
		<div class="product-item">
		    <div class="product-image">
				<img src="{{item.image}}">
			<div class="product-description">
				<h6 class="name">{{item.name}}</h6>
				<div class="product-price">
					<h6>{{item.price}}</h6>
				</div>
				<div class="product-color">
					<h6>{{item.color}}</h6>
				</div>
			</div>
			<div class="footer">
				<a class="details" href="">{{item.name}}</a>
				<a class="addtocart" href="">Add To Cart</a>
			</div>
		    </div>
		</div>
	</div>
</div>