<div class="add-product">
    <h1>Update Product</h1>
    <p class="message-p">{{productUpdatedMessage}}</p>
    <form #updateProduct="ngForm" class="common-form" (ngSubmit)="submit(updateProduct.value)">
        <input
        class="form-input"
        type="text"
        placeholder="Enter Product Name"
        ngModel="{{productData?.name}}"
        name="name">
        <input
        class="form-input"
        type="number"
        placeholder="Enter Product Price"
        ngModel="{{productData?.price}}"
        name="price">
        <input
        class="form-input"
        type="text"
        placeholder="Enter Product Color"
        ngModel="{{productData?.color}}"
        name="color">
        <input
        class="form-input"
        type="text"
        placeholder="Enter Product Category"
        ngModel="{{productData?.category}}"
        name="category">
        <textarea
        class="form-input"
        type="text"
        placeholder="Enter Product Description"
        ngModel="{{productData?.description}}"
        name="description"></textarea>
        <input
        class="form-input"
        type="text"
        placeholder="Enter Product Image URL"
        ngModel="{{productData?.image}}"
        name="image">
        <button class="form-button">Update Product</button>
    </form>
</div>